@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  position: fixed;
  top: 0;
}

#SVG_LOADER {
  enable-background: new 0 0 50 50;
}
